---
import Layout from '@/layouts/Layout.astro';
import MenuSection from '@/components/menu/MenuSection.astro';
import PromoHero from '@/components/menu/PromoHero.astro';
import { fetchMenuData } from '@/lib/menuUtils';

const { promos, dishesByCategory, enumCategory, error, sectionIcon } = await fetchMenuData();
---

<Layout>
  <main class="w-full">
    <h1 class="title-xl text-center">Carta del Restaurante</h1>
    {
      promos &&
        promos.length > 0 &&
        promos.map((promo) => {
          const { image_url, title, subtitle, description, price, options } = promo;
          return (
            <PromoHero
              image={image_url}
              title={title}
              subtitle={subtitle}
              description={description}
              price={price}
              options={options}
            />
          );
        })
    }
    {error && <p class="text-red-500">Error: {error.message}</p>}
    {
      enumCategory.map((cat: string) => {
        let icon = sectionIcon[cat as keyof typeof sectionIcon];
        console.log(icon);
        return dishesByCategory[cat]?.length ? (
          <MenuSection title={cat} dishes={dishesByCategory[cat] ?? []} Icon={icon} />
        ) : null;
      })
    };
  </main>
</Layout>
